<div class="login-dialog">

    <form (submit)="checkLogin(loginModel)">
    <h2 id="login-title"> Login :</h2>
    <br>
    <div class="form-field">
        <mat-form-field>
            <input 
                required
                id="email"
                name="email"
                type="text" 
                #email
                matInput 
                [(ngModel)]="loginModel.email" 
                placeholder="Email"
                />
    
        </mat-form-field>
    </div>

    <div class="form-field"> 
        <mat-form-field>
            <input 
            required
            #password
                type="password" 
                name="password"
                id="password"
                matInput 
                [(ngModel)]="loginModel.pwd" 
                placeholder="Password" 
                />
        </mat-form-field>
    </div>

   
    <span id="error-msg" *ngIf="loginError">The email or password is incorrect</span>

    <br /><br />
<div mat-dialog-actions class="form-field">
 

            <button 
            type="submit" 
            mat-raised-button
            [disabled]="loginModel.email.trim() === '' || loginModel.pwd.trim() ===''" 
            >
            Login
        </button>
        &nbsp;
        <button mat-raised-button>Cancel</button>
</div>
</form>
<br />
<p id="newacc"> Don't have an account? <a id="signup-button" routerLink="/signup">Sign up</a></p>

</div>
